*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Roboto', sans-serif;
}
/* Container */
.container{
    max-width: 1040px;
    margin: 0 auto;
}

/* Header-hero */
.header-hero{
    background-color: #1F2937;
    height: 100vh;
    padding-top: 20px;
}

header{
    display: flex;
    justify-content: space-between;
    
}
.header_logo-link{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}
nav{
    display: flex;
    gap: 15px;
}
.header_link{
    color: #E5E7Eb;
    font-size: 18px;
}

.header_hero-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-top: 150px;
}

.header_hero-inner_info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header_hero-inner_info_heading{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.header_hero-inner_info_text{
    color: #E5E7Eb;
    font-size: 18px;
}
.header_hero-inner_info_button{
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 800;
    width: 120px;
    padding: 10px;
    border-radius: 10px;
    background-color: #3882F6;
    text-align: center;
}
.header_hero-inner_picture > img{
    width: 400px;
    height: auto;
}
/* Main */
/* Section 1 */
.main_inner_heading{
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-top: 30px;
}

.main_inner_pictures{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.main_inner_card{
    width: 200px;
    height: auto;
    margin-top: 30px;
}

.main_card_picture{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.main_card_text{
    text-align: center;
    color: rgb(141, 141, 141);
}
/* Section 2 */
.quote_background{
    background-color: #E5E7EB;
    padding: 50px 0;
    margin-top: 100px;
}
.quote{
    width: 800px;
    margin: 0 auto;
}
blockquote{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    
}
cite{
    display: flex;
    color: #1F2937;
    font-weight: 900;
    font-size: 18px;
    justify-content: flex-end;
}

/* Section 3 */
.modal-window{
    margin: 100px 0;
}

.modal{
    background-color: #3882F6;
    border-radius: 7px;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
}
.modal_info{
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.modal_heading{
    font-weight: 900;
    font-size: 20px;
}
.modal_button{
    padding: 10px 30px;
    border: 2px #E5E7Eb solid;
    border-radius: 7px;
}
.modal_button>a{
    color: #E5E7Eb;
    font-size: 18px;
    font-weight: 900;
}
/* Footer */
.footer{
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 25px;
}